img {
	display: block;
	max-width: 100%;
}

.main-image {
	margin: 1em 0;
}

.contact__label {
	font-weight: bold;
}

.main__heading {
	font-size: 1.5em;
	margin: 20px 0 5px;
}

.section {
	margin-bottom: 1em;
}

.section__heading {
	font-size: 1.35em;
	line-height: 1.2;
	margin: 0 0 1em;
	text-transform: uppercase;
}


.experience {
	margin: 0 0 1.5em;
}

.experience__heading {
	margin: 0;
}

.experience__subheading {
	font-weight: 400;
	margin: 0;
}

.experience__dates {
	color: #999;
	font-style: italic;
	font-size: 0.9em;
}

.experience-description {
	font-size: 0.9em;
}

.experience-description p {
	margin: 0;
}

.experience-description ul {
	margin: 0;
	padding: 0 0 0 18px;
}

@media print {
	body {
		font-size: 12px;
	}
	.hidden-print {
		display: none;
	}
	.alink:after {
		content: ": " attr(href)
	}
	.col-print-1, .col-print-2, .col-print-3, .col-print-4, .col-print-5, .col-print-6, .col-print-7, .col-print-8, .col-print-9, .col-print-10, .col-print-11, .col-print-12 {
		float: left;
	}
	.col-print-12 {
		width: 100%;
	}
	.col-print-11 {
		width: 91.66666667%;
	}
	.col-print-10 {
		width: 83.33333333%;
	}
	.col-print-9 {
		width: 75%;
	}
	.col-print-8 {
		width: 66.66666667%;
	}
	.col-print-7 {
		width: 58.33333333%;
	}
	.col-print-6 {
		width: 50%;
	}
	.col-print-5 {
		width: 41.66666667%;
	}
	.col-print-4 {
		width: 33.33333333%;
	}
	.col-print-3 {
		width: 25%;
	}
	.col-print-2 {
		width: 16.66666667%;
	}
	.col-print-1 {
		width: 8.33333333%;
	}

	.section__heading {
		margin-bottom: 0.5em;
	}

	.experience {
		margin-bottom: 0.75em;
	}

	.experience__subheading {
		font-size: 11px;
	}
}
